<div class="column">
    <div class="box notification is-danger">
        <div class="title is-5">UnCompleted Buy Orders</div>
        <div class="title">
            <%= @uncompletedbuysquantity %> Ounces</div>
        <div class="title">
           $ <%= @uncompletedbuyordersaverage.round(2) %></div>    
        <div class="level">
            <div class="level-item">
                <div class="">
                    <div class="heading">In Kg</div>
                    <div class="title is-3">
                        <%= @uncompletedbuysinkg.round(2) %>
                    </div>
                </div>
            </div>
            <div class="level-item">
                <div class="">
                    <div class="heading">In Gram</div>
                    <div class="title is-3">
                        <%= @uncompletedbuysingram.round(2) %>
                    </div>
                </div>
            </div>
            <div class="level-item">
                <div class="">
                    <div class="heading">In TT Bars</div>
                    <div class="title is-3">
                        <%= @uncompletedbuysintt.round(2) %>
                    </div>
                </div>
            </div>
        </div>

        <div class="level">
            <div class="level-item">
                <div class="">
                    <div class="heading">Total In Kg</div>
                    <div class="title is-3">
                        <%= (@uncompletedbuysquantity > 320 ? (@uncompletedbuysquantity / 31.1) : (@uncompletedbuysquantity / 32)).round(2) %>
                    </div>
                </div>
            </div>
            <div class="level-item">
                <div class="">
                    <div class="heading">Total In Gram</div>
                    <div class="title is-3">
                        <%= (@uncompletedbuysquantity > 320 ? (@uncompletedbuysquantity * 31.1) : (@uncompletedbuysquantity * 32)).round(2) %>
                    </div>
                </div>
            </div>
            <div class="level-item">
                <div class="">
                    <div class="heading">Total In TT Bars</div>
                    <div class="title is-3">
                        <%= (@uncompletedbuysquantity / 3.79).round(2) %>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>