<main class="main">
    <div class="columns">
        <%= render 'dashboard/boxes/buytotal' %>
            <%= render 'dashboard/boxes/selltotal' %>
    </div>

    <div class="columns mt-4">
        <%= render 'dashboard/boxes/uncompletebuy' %>
            <%= render 'dashboard/boxes/uncompletesell' %>
    </div>
    <div class="columns mt-4">
        <%= render 'dashboard/boxes/profits' %>
            <div class="column"></div>
    </div>
    </div>
</main>