<div class="section">
    <%= simple_form_for @order do |f| %>
        <div class="field mb-5">
            <div class="control">
                <%= f.input :name, required: true , input_html: { class: "input" }, wrapper: false, label: "Client Name", label_html:{ class: "label" } %>
            </div>
        </div>
        <div class="field mb-5">
            <div class="control">
                <%= f.input :producttype, required: true , input_html: { class: "input" }, wrapper: false, label: "Product Type" , label_html:{ class: "label" } %>
            </div>
        </div>
        <div class="field mb-5">
            <div class="control">
                <%= f.input :quantity, required: true , input_html: { class: "input" }, wrapper: false,label: "Quantity (In Ounces)", label_html:{ class: "label" } %>
            </div>
        </div>
        <div class="field mb-5">
            <div class="control">
                <%= f.input :ordertype, required: true , :collection => ['Kg', 'Gram','TT Bar', 'Ounces'], input_html: { class: "input" }, wrapper: false, label: "Order Type" , label_html:{ class: "label" } %>
            </div>
        </div>
        <div class="field mb-5">
            <div class="control">
                <%= f.input :buysell, required: true , :collection => ['Buy', 'Sell'], input_html: { class: "input" }, wrapper: false, label: "Buy Or Sell" , label_html:{ class: "label" } %>
            </div>
        </div>
        <div class="field mb-5">
            <div class="control">
                <%= f.input :platform, required: true , input_html: { class: "input" }, wrapper: false, label: "Platform Price" , label_html:{ class: "label" } %>
            </div>
        </div>
        <div class="field mb-5">
            <div class="control">
                <%= f.input :client, required: true , input_html: { class: "input" }, wrapper: false, label: "Client Price", label_html:{ class: "label" } %>
            </div>
        </div>
        <div class="field mb-5">
            <div class="control">
                <label class="label">Order Completed</label>
                <%= f.check_box :finished, input_html: { class: "input" }, wrapper: false%>
            </div>
        </div>
        <div class="field mb-5">
            <div class="control">
                <%= f.input :time, required: true , input_html: { class: "input" }, wrapper: false, label_html:{ class: "label" } %>
            </div>
        </div>
        <%= f.button :submit, class: "button is-link is-pulled-right mt-2" %>
            <% end %>
</div>